<mat-vertical-stepper linear>
  <mat-step [stepControl]="PersonalDetails">
    <form [formGroup]="PersonalDetails" (ngSubmit)=personalDetailSubmit()>
      <ng-template matStepLabel>Personal Details</ng-template>
      <mat-form-field>
        <mat-label>First Name:</mat-label>
        <input matInput placeholder="Enter Name" formControlName="name" type="text" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Age:</mat-label>
        <input matInput placeholder="Enter Age" type="number" formControlName="age" required>
      </mat-form-field><br>
      <label style="padding-right: 10px;">Gender:</label>
      <mat-radio-group aria-label="Select an option"  formControlName="gender" required>
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group><br>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input type="tel" matInput placeholder="555-555-1234" formControlName="mobile" required>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field><br>

        <mat-form-field>
          <mat-label>Email ID</mat-label>
          <input matInput placeholder="Enter Email ID" formControlName="email" type="email" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter Password" formControlName="password" type="password" required>
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Enter Your Permanent Address.." formControlName="address"></textarea>
        </mat-form-field><br>

        <mat-form-field appearance="fill">
          <mat-label>State</mat-label>
          <select matNativeControl formControlName="state" required>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
          </select>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <select matNativeControl formControlName="city" required>
            <option value="Chennai">Tamil Nadu</option>
            <option value="Bangalore">Karnataka</option>
            <option value="Hyderabad">Andhra Pradesh</option>
            <option value="Mumbai">Maharashtra</option>
          </select>
        </mat-form-field>


      <div>
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="EmployementDetails">
    <form [formGroup]="EmployementDetails">
      <ng-template matStepLabel>Employement Details</ng-template>
      <mat-form-field>
        <mat-label>Type Of Employement:</mat-label>
        <input matInput placeholder="Enter Type Of Employement" formControlName="typeOfEmployment" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Annual Salary</mat-label>
        <input matInput placeholder="Enter Type Of Employement" formControlName="typeOfEmployment" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Loan Details">
    <p>Step 3:</p>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
</mat-vertical-stepper>

<div class="container">
  <div class="row">
    <div class="col-md-10">
    <form [formGroup]="DetailsForm" (ngSubmit)='onSubmit()'>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" formControlName="name">
        <span class="help-block" *ngIf="!DetailsForm.get('name')?.valid && DetailsForm.get('name')?.touched " >Please enter valid name</span>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" formControlName="email">
        <span class="help-block" *ngIf="!DetailsForm.get('email')?.valid && DetailsForm.get('email')?.touched " >Please enter valid email</span>
      </div>
      <div class="form-group">
        <label>Gender:</label>
        <div>
          <input type="radio" value="Male" name="gender" formControlName="gender">
          <label>Male</label>
        </div>
        <div>
          <input type="radio" value="Female" name="gender" formControlName="gender">
          <label>Female</label>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
