
<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Overview</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/images/loanpic.jpg" alt="Vehicle Loan" width="100px" height="300px" align="right">
  <mat-card-content>
    <p>
      Easy and flexible finance options for vehicles, ranging from two wheelers, cars, commercial vehicles, earth movers to farm equipment.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img mat-card-image src="assets/images/loanprocess.PNG" alt="Steps"/>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title><h2>Eligibility</h2></mat-card-title>
    <mat-card-subtitle>Eligibility Salaried Individuals</mat-card-subtitle>
  </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Individuals who are minimum of 21 years of age at the time of applying for the loan, and not older than 60 at the end of the loan tenure </li>
        <li>Individuals who have had a job for minimum 1 year and earning a minimum of Rs. 25,000 per month</li>
      </ul>
    </mat-card-content>
    <mat-card-header>
    <mat-card-subtitle>Self Employed Individuals</mat-card-subtitle>
  </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Individuals who are minimum of 21 years of age at the time of applying for the loan, and not older than 60 at the end of the loan tenure </li>
        <li>Individuals who have had a job for minimum 1 year and earning a minimum of Rs. 25,000 per month</li>
      </ul>
    </mat-card-content>
</mat-card>


<mat-card class="parent">
  <mat-card-header>
    <mat-card-title><h2>Documents Needed</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="child">
    <img mat-card-sm-image src="assets/images/kyc.png" title="KYC">
    <h2>KYC</h2>
    </mat-card>
    <mat-card class="child">
      <img mat-card-sm-image src="assets/images/photo.jpg" title="KYC">
      <h2>Passport Size Photo</h2>
      </mat-card>
    <mat-card class="child">
      <img mat-card-sm-image src="assets/images/bankst.png" title="KYC">
      <h2>Bank Statement</h2>
      </mat-card>
      <mat-card class="child">
        <img mat-card-sm-image src="assets/images/slip.png" title="KYC">
        <h2>Salary Slips or ITR</h2>
        </mat-card>
  </mat-card-content>
</mat-card>
