<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  Admin Dashboard
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

      <h4 class="name">Dashboard</h4>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          Clients
      </button><br>
      <button mat-button class="menu-button">
          Applications
      </button><br>
      <button mat-button class="menu-button">
          Rejected List
      </button><br>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>

  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
          Main content here!
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
