<mat-toolbar color="primary" class="mat-elevation-z6 col-md-12">
  <span class="material-icons">
    directions_car_filled
    </span>
  <span>Vehicle Loan</span>
  <div class="spacer"></div>
    <a mat-button routerLink="home" routerLinkActive="active">Home</a>
    <a mat-button>About Us</a>
    <a mat-button (click)="CreateCalculator()">EMI Calculator</a>
    <a mat-button routerLink="getEligible" routerLinkActive="active">Apply Loan</a>
    <a mat-raised-button>Login</a>
</mat-toolbar>







