input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.help-text{
  color: red;

}
.header{
  text-align: center;
  padding-top: 10px;
  background-color:lavender;
  color: black;
}
label{
  font-size:large;
  padding-bottom: 20px;
}
.card-body{
  padding: 20px;
}

.matcardclass{
  border: 1px solid blueviolet;
}
